form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    width: 40%;
    padding: 2%;
    margin-top: 5vh;
    background-color: var(--text);
    border-radius: 50px;
    border: 2px solid var(--accent);
    box-shadow: 0px 0px 10px 7px var(--secondary);
    color: black;
}

form input,
form select,
form textarea {
    width: 50%;
    height: 3vh;
    border-radius: 5px;
    border: 2px solid var(--accent);
    box-shadow: 0px 0px 10px 3px var(--secondary);
    transition: all 0.2s;
    color: black;
}

textarea {
    height: 10vh;
}

form input:hover,
form select:hover,
form textarea:hover {
    box-shadow: 0px 0px 50px 6px var(--secondary);
}

form label {
    color: var(--background);
}

form button {
    background-color: var(--background);
}

main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
